*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: crimson;
    justify-items: center;
}

#navbar{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color:white;
    border-radius: 10px;
    box-shadow: 1px 1px 0px 1px #9c181d;
    z-index: 1;
}

#agregarComen{
    position: absolute;
    background-color: crimson;
    right: 40px;
    top: 20px;
    width: 230px;
    height: 60px;
    color: white;
    border-radius: 20px;
    border: 3px #ff5e0e solid;
    justify-content: center;
    line-height: 60px;
    text-align: center;
    padding-right: 0px;
    padding-left: 10px;
}

.iconoComen{
    position: absolute;
    margin-left: 5px;
    top: 10px;
    width: 35px;
    height: 35px;
}

.iconoComen img{
    width: 100%;
    height: 100%;
}

#containerInfo{
    position: relative;
    width: 95%;
    height: 700px;
    background-color: azure;    
    margin-top: 110px;
    padding-left: 250px;
    padding-top: 20px;
    justify-content: center;
}

.flashcards{
    width: 75%;
    height: 185px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 0.7px #c32026e6 solid;
    text-align: center;
    border-radius: 20px;
    padding-left: 25px;
    padding-right:25px;
    transition:all 1s ease;
}

.flashcards:hover{
    transform: translateY(-25px);
    border: 5px #9c181d solid;
    box-shadow: 0 8px 0 0 gray;
}

.flashcards h2{
    margin-top: 10px;
    font-size: 200%;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#9c181d;
}

.flashcards p{
    margin-top: 10px;
    font-size: 120%;
}

#containerComent{
    width: 70%;
    height: 600px;
    background-color: rgb(200, 218, 218);    
    margin-top: 110px;
    border-radius: 25px;
    padding: 60px;
    z-index: 2;
    flex-wrap: wrap;
    flex: content;
    padding: 50px;
    padding-top: 100px;
    display: flex;
   justify-content: center; 
}

.boxes{
    width: 37%;
    height: 40%;
    border: 2px gray solid;
    border-radius: 10px;
    margin-left: 40px;
    transition: all 0.5s ease;
    background: #ffffff;
    background: linear-gradient(330deg, rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 56%, rgba(252, 53, 53, 1) 100%);
    padding: 20px;
    color: rgb(83, 83, 83);
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boxes:hover{
    transform: scale(110%);
    border: 5px #ff5e0e solid;
    box-shadow: 0 8px 0 0 gray;
}

.modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content { 
    background-color: #fefefe; 
    margin: 15% auto; 
    padding: 20px; 
    border: 1px solid #888; 
    width: 35%; 
    height: 320px;
    justify-content: center;
    align-items: center;
}

.modal-content p{
    font-size: 200%;
    text-align: center;
}
